/*FONT STYLES ALERT FONT STYLES ALERT*/

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    display: block;
    font-size: 6vh;
    text-align: right;
    padding-right: 18%;
    margin-bottom: 0;
}

h2 {
    position: absolute;
    font-family: 'Spectral', serif;
    font-size: 3.1vh;
    left: 10vh;
}

p {
    position: absolute;
    z-index: -1;
    top: 20vh;
}

/* IFRAME STYLING BROTHER*/

#spotify {
    position: absolute;
    bottom: 2vh;
    right: 4vh;
    box-shadow: 1px 3px 3px rgba(0,0,0,0.3)
}

#player {
    box-shadow: 2px 3px 3px rgba(0,0,0,0.4)
}

/*AND OTHER STYLINGS*/

img {
    position: absolute;
}

#bust {
    max-width: 42vh;
    height: auto;
    z-index: 2;
    top: 80vh;
    box-shadow: 3px 5px 3px rgba(0,0,0,0.5)
}

#shades {
    max-width: 12vh;
    height: auto;
    z-index: 4;
    top: 87.3vh;
    right: 76.9vh;
}

#spam {
    max-width: 25vh;
    position: absolute;
    right: 10vh;
    top: 10vh;  
}

body {
    overflow: hidden;

}

body, html {
    cursor: url('cursor.png'), default;
}


a {
    text-decoration-color: #0080ff;
    color: #0080ff;
}

#why {
        text-decoration-color: #0080ff;
        color: #0080ff;
}

#alert {
    position: absolute;
    min-width: 400px;
    height: 200px;
    top: 40%;
    left: 70%;
    font-size: 2vh;
}

#whydoineedtomakeafuckingidfortext {
    background-color: yellow;
}

#engineerstatus {
    position: fixed;
    bottom: 1;
    left: 5;
    width: 300px;
    font-size: 3vh;
}